@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Monserant , sans-serif;
    font-size: 1rem;
    background-color: #F9F7F7;
}

.asterisk {
    color: #FF4545;
}

.container {
    width: 30%;
    height: auto;
    background-color: #DBE2EF;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

/* header */
.signup {
    margin-top: 1rem;
    font-size: 2rem;
    color: #112D4E;
}
/* header */

/* Name group */
#firstname_thai, #lastname_thai, #firstname_eng ,#lastname_eng {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0px;
}

.name_eng {
    margin-top: 1rem;
}
/* Name group */

/* Gender group */
.gender_group{
    margin: 0.5rem 0px;
}

.gender {
    margin-top: 0.25rem;
    display: flex;
    gap: 1rem;
}

#gender {
    margin-right: 0.5rem;
}
/* Gender group */

/* Student group */
.studentid_group {
    margin: 1rem 0px;
}

#student_id {
    margin-top: 0.25rem;
    width: 100%;
    padding: 0.5rem;
}
/* Student id */

/* คณะที่ศึกษา */
.fuculty_group {
    margin: 1rem 0px
}

#fuculty {
    width: 100%;
    margin-top: 0.25rem ;
    padding: 0.5rem;
}
/* คณะที่ศึกษา */

/* Email */
.email_group {
    margin: 1rem 0px;
}

#email {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
}
/* Email */

/* Birthday */
.birthday_group {
    margin: 1rem 0px;
}

#birthday {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
}
/* Birthday */

/* หนังสือที่สนใจ */
.book_interest_group {
    margin: 1rem 0px;
}

#book_interest {
    margin-top: 0.25rem;
    padding: 0.5rem;
    width: 100%;
}
/* หนังสือที่สนใจ */

/* News from library */
.news_group {
    margin: 1rem 0px;   
}

.decide {
    margin-top: 0.25rem;
    display: flex;
    gap: 1rem;
}
/* News from library */

/* Submit button */
.submit_button {
    width: 100%;
    margin: 0.5rem 0px 1.5rem 0px ;
    padding: 0.5rem;
    font-size: 16px;
    background-color: #3F72AF;
    border: none;
    color: white;
}
/* Submit button */