@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Monserant , sans-serif;
    font-size: 1rem;
}

.asterisk {
    color: #FF4545;
}

.container {
    width: 30%;
    height: auto;
    background-color: #FCF596;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

/* header */
.signup {
    margin-top: 1rem;
    font-size: 2rem;
    color: #FF9C73;
}
/* header */

/* Name group */
#firstname_thai, #lastname_thai, #firstname_eng ,#lastname_eng {
    width: 100%;
    padding: 10px;
    margin: 0.5rem 0px;
}

.name_eng {
    margin-top: 1rem;
}
/* Name group */

/* Gender group */
.gender_group{
    margin: 0.5rem 0px;
}

.gender {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

#gender {
    margin-right: 0.5rem;
}
/* Gender group */